---
import Burger from "@/icons/Burger.astro";
import { menus } from "@/lib/data/menus";
import LanguageSelector from "../ui/LanguageSelector.astro";
const currentLocale = Astro.currentLocale || "es";
---

<header class="sticky top-0 z-10 flex pt-2 sm:items-center sm:justify-center sm:pt-3">
  <nav
    class="sm:bg-primary-950/50 relative flex flex-row items-center gap-4 p-2 px-4 sm:static sm:rounded-full sm:border sm:border-black sm:backdrop-blur-2xl sm:justify-between"
  >
  <div class="flex flex-col sm:flex-row">
    <Burger class="ml-2 sm:hidden" />
    <div
      class="navmenu-toggle absolute top-8 hidden flex-col gap-5 bg-transparent sm:static sm:flex sm:flex-row"
    >
      {
        menus.map((item) => (
          <a
            href={item.href}
            id="link"
            class="hover:text-primary-200 mt-3 block text-sm font-medium text-white sm:mt-auto"
          >
            {item.label[currentLocale]}
          </a>
        ))
      }
    </div>
  </div>
    <LanguageSelector />
  </nav>
</header>

<script>
  const menuButton = document.querySelector("#menu");
  menuButton?.addEventListener("click", () => {
    document.querySelector(".navmenu-toggle")?.classList.toggle("hidden");
  });
  const links = document.querySelectorAll("#link");
  links.forEach((link) => {
    link.addEventListener("click", () => {
      const navIcon: HTMLElement | null = document.querySelector("#menu");
      if (navIcon && navIcon.classList.contains("open")) {
        navIcon.classList.toggle("open");
        document.querySelector(".navmenu-toggle")?.classList.toggle("hidden");
      }
    });
  });
</script>
