---
import FormContact from "@/components/react/FormContact";
import { TypeAnimation } from "react-type-animation";
import SectionContainer from "./SectionContainer.astro";

const typeAnimatoRepeat = 1000;
---

<SectionContainer id="contact" class="mb-14">
  <div class="flex w-full flex-col gap-8">
    <h2 class="text-center text-2xl font-semibold sm:ml-40 sm:text-left">Contact</h2>
    <div class="flex w-full flex-col items-center gap-8">
      <TypeAnimation
        sequence={[
          "Get in touche",
          2500,
          "Send me a message",
          2500,
          "I'll will reply you asap",
          2500,
          "Let's work together!",
          2500
        ]}
        wrapper="span"
        speed={20}
        style={{ fontSize: "2em", display: "inline-block" }}
        repeat={typeAnimatoRepeat}
        client:visible
      />
      <p class="max-w-xl text-pretty">
        Eager to join forces? Shoot me a message detailing your needs. I'm all in to help bring your software
        aspirations to life. Drop a line, and let's create something remarkable together.
      </p>
      <FormContact client:idle />
    </div>
  </div>
</SectionContainer>
