---
import SectionContainer from "./SectionContainer.astro";
import Skills from "./Skills.astro";
import ExperienceTabs from "./react/ExperienceTabs";
---

<SectionContainer id="experience">
  <div class="flex w-full flex-col gap-8">
    <h2 class="text-center text-2xl font-semibold sm:ml-40 sm:text-left">Experience</h2>
    <div class="flex w-full flex-col items-center gap-16">
      <Skills />
      <ExperienceTabs client:idle />
    </div>
  </div>
</SectionContainer>
