---
import SectionContainer from "./SectionContainer.astro";
import ProjectsShowcase from "./react/ProjectsShowcase";
---

<SectionContainer id="projects">
  <div class="relative flex flex-col gap-8 overflow-hidden">
    <h2 class="text-center text-2xl font-semibold sm:ml-40 sm:text-left">Projects</h2>
    <div class="relative flex w-full items-center sm:mt-12">
      <div class="w-full overflow-hidden py-8 sm:p-8">
        <ProjectsShowcase client:only />
      </div>
    </div>
  </div>
</SectionContainer>
