---
interface Props {
  date: string;
  title: string;
  description: string;
}

const { date, description, title } = Astro.props;
---

<li class="mb-10 ms-4">
  <div
    class="absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-white bg-gray-200 dark:border-gray-900 dark:bg-gray-700"
  >
  </div>
  <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
    {date}
  </time>
  <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{title}</h3>
  <p class="mb-4 text-pretty text-base font-normal text-gray-500 dark:text-gray-400">
    {description}
  </p>
  <div class="flex gap-2">
    <slot />
  </div>
</li>
